In [ ]:
!pip3 install requests beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.agbro.com/'
data = requests.get(url)

In [ ]:
soup = BeautifulSoup(data.text, 'html.parser')
table = soup.find("table", attrs={"class":"tableizer-table"})

In [ ]:
# The first tr contains the field names.
date = []
day = []
DOC = []
fr = []
open = []
close = []
for row in table.find_all("tr")[3:]:
    td = row.find_all("td")[0:6]
    date.append(td[0].text)
    day.append(td[1].text)
    DOC.append(td[2].text)
    fr.append(td[3].text)
    open.append(td[4].text)
    close.append(td[5].text)

In [ ]:
df = pd.DataFrame()
df["date"] = date
df["day"] = day
df["doc"] = DOC
df["farm rate"] = fr
df["open"] = open
df["close"] = close

In [ ]:
df.head()

       date        day doc farm rate open  close
0  1-Jan-22   Saturday  32       170  175    170
1  2-Jan-22     Sunday   –       170  180    175
2  3-Jan-22     Monday  35       175  180  167.5
3  4-Jan-22    Tuesday  37       170  180    175
4  5-Jan-22  Wednesday  38       170  180    180

In [ ]:
years = ['2022','2021','2020','2019','2018','2017','2016','2015']
date = []
day = []
DOC = []
fr = []
open = []
close = []
for i in range(len(years)):
  url = 'https://www.agbro.com/broiler-market-prices-'+years[i]
  data = requests.get(url)
  soup = BeautifulSoup(data.text, 'html.parser')
  table = soup.find_all("table", attrs={"class":"tableizer-table"})
  for j in table:
    for row in j.find_all("tr")[3:]:
      td = row.find_all("td")[0:6]
      try:
        date.append(td[0].text)
      except:
        date.append("-")
        pass
      try:
        day.append(td[1].text)
      except:
        day.append("-")
        pass
      try:
        DOC.append(td[2].text)
      except:
        DOC.append("-")
        pass
      try:
        fr.append(td[3].text)
      except:
        fr.append("-")
        pass
      try:
        open.append(td[4].text)
      except:
        open.append("-")
        pass
      try:
        close.append(td[5].text)
      except:
        close.append("-")
        pass

In [ ]:
df = pd.DataFrame()
df["date"] = date
df["day"] = day
df["doc"] = DOC
df["farm rate"] = fr
df["open"] = open
df["close"] = close

In [ ]:
df.head()

       date        day doc farm rate open  close
0  1-Jan-22   Saturday  32       170  175    170
1  2-Jan-22     Sunday   –       170  180    175
2  3-Jan-22     Monday  35       175  180  167.5
3  4-Jan-22    Tuesday  37       170  180    175
4  5-Jan-22  Wednesday  38       170  180    180

In [ ]:
len(df)

2836

In [ ]:
df.tail()

           date        day   doc farm rate open  close
2831  27-Dec-15     Sunday     –       115  130    125
2832  28-Dec-15     Monday  15.5       115  125    120
2833  29-Dec-15    Tuesday  15.5       120  130    130
2834  30-Dec-15  Wednesday  20.5       120  140    140
2835  31-Dec-15   Thursday  25.5       130  155  147.5

In [ ]:
# mount Google Drive
from google.colab import drive
drive.mount('/content/drive')
df.to_csv("/content/drive/MyDrive/data.csv",index =False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).